.pdf-header {
  text-align: center;
}

.pdf-container {
  justify-content: center;
}

.react-pdf__Page__canvas {
  height: 100% !important;
  margin: 0 auto;
  width: 100% !important;
}

.btn-text {
  font-size: 2.2rem;
}
