/* About */

.about-container {
  background-color: var(--color-secondary);
  margin: 2rem auto;
}

.about__content {
  color: white;
  margin: 6rem 1rem;
}

.about__content > p {
  margin: 0;
}

.about-image {
  height: auto;
  padding: 2rem;
  justify-self: center;
  align-self: center;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .about__content {
    margin: 6rem 4rem;
  }
}

/* Intro */

.about__content > h2 {
  font-size: 3rem;
}

.about__content > p {
  opacity: 80%;
}

.heading-highlight {
  color: var(--color-primary);
}

/* AWS Certs */

.aws-services__list {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
  justify-items: center;
  font-size: 1.2rem;
  max-lines: 8;
}

.aws-services__list > ul {
  margin: 0;
  opacity: 80%;
}

.aws-services {
  margin: 1rem 0 0 0;
}

@media screen and (max-width: 767px) {
  .about-image:nth-child(odd) {
    grid-row: 2;
  }

  .about-image {
    padding-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .aws-services__list {
    flex-direction: row;
  }

  .about-image {
    max-height: 400px;
  }
}

/* Skills */

.skills-container {
  padding: 0.5rem;
}

.skills__heading {
  text-align: center;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.skill-container {
  margin: 0.5rem 1rem;
  transition: 0.3s;
}

.skill-badge {
  width: 100%;
  max-height: 80px;
  filter: invert(78%) sepia(68%) saturate(5631%) hue-rotate(159deg)
    brightness(95%) contrast(97%);
}

.skill-name {
  margin-top: 0.5rem;
  text-align: center;
}

.skill-level {
  text-align: center;
  opacity: 70%;
}

@media screen and (min-width: 768px) {
  .skills-grid {
    grid-template-columns: repeat(5, 1fr);
  }

  .skill-container {
    margin: 2rem;
  }

  .skill-badge {
    width: 100%;
  }
}

.skill-container:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 1024px) {
  .skills-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}
