.nav-block {
  padding: 0 1rem;
}

.nav-section {
  position: fixed;
  z-index: 9999;
  width: 100%;
  margin-top: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  font-size: 1.5rem;
  max-height: 100%;
  align-items: center;
  margin: 0;
}

.nav__item {
  margin-right: 2rem;
}

.nav__item > a {
  color: #d2d0db;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: #fff;
}
