.nav-section {
  left: 0;
  position: fixed;
  width: 100vw;
  z-index: 9999;
  background-color: hsla(196, 0%, 18%, 0.5);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem !important;
}

.nav__list {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  max-height: 100%;
  align-items: center;
  margin: 0;
}

.nav__item {
  margin-right: 2rem;
}

.nav__item > a {
  color: #d2d0db;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .nav__list {
    font-size: 2rem;
  }
}
