@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --color-primary: #04AFEC;
    --color-secondary: #2D2D2D;
    --color-headings: #1b0760;
    --color-body: #918ca4;
}

body, html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    height: 100%;
    margin: 0;
    background-image: linear-gradient(var(--color-primary), #0094C9);
}

.list {
    list-style: none;
    padding-left: 0;
}

/* Links */

a {
    text-decoration: none;
}

/* Blocks */

.block {
    --padding-vertical: 6rem;
    padding: var(--padding-vertical) 2rem;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}
